.main-screen {
  z-index: -1;
}

.main-screen__link-slide {
  display: flex;
  margin-top: 46px;
}

.main-screen__link {
  width: 345px;
  height: 358px;
  box-sizing: border-box;
}

.main-screen__link ul {
  display: flex;
  flex-wrap: wrap;
}

.main-screen__link li {
  width: 115px;
  height: 179px;
  box-sizing: border-box;
  /* border: 1px solid #333; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #1875b8; */
}


.main-screen__slide {
  margin: 0;
  padding: 0;
}

.main-screen__slide .bxslider > li {
  position: relative;
}

.bxslider span, .bxslider h2 {
  position: absolute;
  top: 25%;
  left: 25%;
  color: #fff;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 10px;
}

.bxslider h2 {
  top: 40%;
  font-size: 27px;
  font-weight: 600;
}

.bx-wrapper{
  width: 735px; 
  height: 358px;
  margin: 0 auto; 
  border: none;}

.bx-wrapper .bx-loading,
.bx-wrapper .bx-controls-direction a {
  z-index: 500;
}

.main-screen__slide img {
  width: 735px;
  height: 358px;
}

.main-screen__quick-link {
  margin-top: 32px;
  height: 160px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.main-screen__quick-link ul {
  display: flex;
  height: 80%;
  margin-top: 20px;
  justify-content: space-between;
}

.main-screen__quick-link li {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ddd;
}

.main-screen__quick-link li:hover {
  color: #1875B8;
}

.main-screen__quick-link li:last-child {
  border-right: none;
}

.main-screen__quick-link img,
.main-screen__quick-link span {
  display: block;
}

.main-screen__quick-link img {
  margin: 0 auto;
  width: 82px;
  height: 68px;
}

.main-screen__quick-link1 span,
.main-screen__quick-link2 span,
.main-screen__quick-link3 span,
.main-screen__quick-link4 span {
  margin-top: 10px;
  font-size: 18px;
}

.main-screen__quick-link li:last-child {
  font-size: 14px;
  color: #aaa;
}

.main-screen__quick-link strong {
  display: block;
}

.main-screen__quick-link .tit1 {
  font-size: 18px;
  color: #000;
}

.main-screen__quick-link .tit2 {
  font-size: 28px;
  color: #000;
  margin: 10px 0;
}

.main-screen__introduce {
  margin-top: 50px;
}

.main-screen__introduce__inner__title {
  text-align: center;
  font-size: 28px;
  color: #333;
  font-weight: 600;
}

.main-screen__introduce__inner__txt {
  font-size: 15px;
  color: #777;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 32px;
}

.main-screen__introduce__inner__center-banner ul {
  display: flex;
  justify-content: space-between;
}

.main-screen__introduce__inner__banner-slide {
  margin-top: 10px;
}

.main-screen__introduce__inner__banner-slide ul {
  display: flex;
  justify-content: space-between;
}

.main-screen__issue {
  margin-top: 70px;
  background-color: #0c3a5c;
}

.main-screen__issue__inner__title {
  padding-top: 56px;
  text-align: center;
  font-size: 28px;
  color: #fff;
}

.main-screen__issue__inner__txt {
  padding-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #ddd;
}

.main-screen__issue__inner__contents-row {
  margin-top: 40px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.main-screen__issue__inner__contents__issue-small {
  width: 432px;
  height: 432px;
  box-sizing: border-box;
}

.main-screen__issue__inner__contents__issue-small::after {
  content: "";
  display: block;
  clear: both;
}

.main-screen__issue__inner__contents__issue-small ul li {
  float: left;
  font-size: 0;
}

.main-screen__issue__inner__contents__issue-big {
  margin-left: 22px;
}

.main-screen__news {
  margin-top: 62px;
}

.main-screen__news__inner__title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.main-screen__news__inner__txt {
  padding-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #646464;
  margin-bottom: 30px;
}

.main-screen__news__contents-row {
  display: flex;
  justify-content: center;
}

.main-screen__news__contents-row::after {
  content: "";
  display: block;
  clear: both;
}

.main-screen__news__contents__news-box {
  width: 242px;
  height: 310px;
  float: left;
  margin: 0 8px;
  border: 1px solid #bfbfbf;
}

.main-screen__news__contents__news-box h3 {
  display: block;
  border-bottom: 1px solid #bfbfbf;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  line-height: 44px;
  padding-left: 20px;
  position: relative;
}

.main-screen__news__contents__news-box__more {
  position: absolute;
  right: 20px;
}

.main-screen__news__contents__news-box__open {
  height: 190px;
  position: relative;
  padding: 15px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #bfbfbf;
}

.main-screen__news__contents__news-box__open-title {
  font-size: 16px;
  color: #333;
  line-height: 23px;
}

.main-screen__news__contents__news-box__open p {
  font-size: 13px;
  color: #666;
  line-height: 21px;
  margin-top: 10px;
}

.main-screen__news__contents__news-box__open-date {
  font-size: 12px;
  color: #999;
  line-height: 13px;
  position: absolute;
  bottom: 20px;
  text-align: left;
}

.main-screen__news__contents__news-box li:nth-child(2) {
  border-bottom: 1px solid #bfbfbf;
}

.main-screen__news__contents__news-box
  li:not(.main-screen__news__contents__news-box__open) {
  font-size: 12px;
  color: #777;
  line-height: 38px;
  padding-left: 10px;
}

.main-screen__sns {
  margin-top: 70px;
  background-color: #a6d4f5;
}

.main-screen__sns__inner__title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  padding-top: 75px;
}

.main-screen__sns__inner__txt {
  padding-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #646464;
  margin-bottom: 35px;
}

.main-screen__sns__contents-row {
  display: flex;
  padding-bottom: 100px;
}

.main-screen__sns__contents__sns-box {
  border: 1px solid #bfbfbf;
  width: 270px;
  height: 320px;
  box-sizing: border-box;
}

.main-screen__sns__contents__sns-box__inner {
  background-color: #fff;
  height: 100%;
  position: relative;
}

.main-screen__sns__contents__sns-box__inner__title {
  display: block;
  border-bottom: 1px solid #bfbfbf;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 44px;
  padding-left: 20px;
  position: relative;
  background-color: #fff;
}

.main-screen__sns__contents__sns-box__inner__more {
  position: absolute;
  right: 20px;
}

.main-screen__sns__contents__sns-box__inner > a {
  position: relative;
  overflow: hidden;
}

.main-screen__sns__contents__sns-box__inner__thumb {
  width: 268px;
  height: 140px;
  box-sizing: border-box;
}

.main-screen__sns__contents__sns-box__inner__icon {
  border: 5px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.main-screen__sns__contents__sns-box__inner > a:last-child {
  position: absolute;
  left: 20px;
  bottom: 60px;
}

.main-screen__contact {
  padding: 90px 0px 100px;
}

.main-screen__contact__inner__contents {
  display: flex;
  position: relative;
}

.main-screen__contact__inner__contents__text {
  padding-left: 50px;
}

.main-screen__contact__inner__contents__text__top {
  font-size: 17px;
  color: #333;
  display: block;
  font-weight: 600;
  margin-bottom: 30px;
}

.main-screen__contact__inner__contents__text__title {
  font-size: 28px;
  color: #333;
  margin-bottom: 35px;
}

.main-screen__contact__inner__contents__text__add li {
  line-height: 20px;
}

.main-screen__contact__inner__contents__text__add strong {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.main-screen__contact__inner__contents__text__add span {
  font-size: 13px;
  color: #555;
}

.main-screen__contact__inner__contents__text__last-span {
  display: block;
  margin-left: 60px;
}

.main-screen__contact__inner__contents__text__button {
  margin-top: 30px;
}

.main-screen__contact__inner__contents__text__button01,
.main-screen__contact__inner__contents__text__button02 {
  width: 125px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-left: 20px;
  font-size: 14px;
}

.main-screen__contact__inner__contents__map {
  width: 571px;
  height: 256px;
  position: absolute;
  right: 50px;
  bottom: 40px;
}
