 /* modal ----------------*/
 #modal {
  width: 100%; height:100%; background:rgba(0,0,0,0.6); position: absolute; top: 0; left: 0; z-index: 999;
}
#modal .modal_box {
  position: absolute;
  /* width: 600px; */
  /* height: 400px; */
  /* padding: 50px; */
  box-sizing: border-box;
  z-index:5000;
  /* background: #fff; */
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  border:1px solid #666;
}

.modal_box .close {
  position: absolute;
  background:#1875B8;
  padding:10px 20px;
  color:#f2f2f2;    
  right: 0px;
  bottom: -37px;
  border: 0;
  cursor: pointer;
}

.modal_box .popup_box {
 position: absolute;
 background-color: #1E96EB;
 padding:9px 20px;
 padding-top: 10px;
 left: 359px;
 bottom: -37px;
 color: #fff;
}